@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Black.ttf"), url("./Fonts/Roboto-BlackItalic.ttf"),
    url("./Fonts/Roboto-Bold.ttf"), url("./Fonts/Roboto-BoldItalic"),
    url("./Fonts/Roboto-Italic.ttf"), url("./Fonts/Roboto-Light.ttf"),
    url("./Fonts/Roboto-LightItalic.ttf"), url("./Fonts/Roboto-Medium.ttf"),
    url("./Fonts/Roboto-MediumItalic.ttf"), url("./Fonts/Roboto-Regular.ttf"),
    url("./Fonts/Roboto-Thin.ttf"), url("./Roboto-ThinItalic.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';    
  margin: 0;
}


#Hero-Section {
  background: #1f2937;
  color: #e5e7eb; 
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 10px 10% 0;
}

#Call-To-Action-Section{
    background: #3882f6;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5% 10%;
    padding: 40px 9% 40px 9%;
}

.Content-Container{
    padding: 100px 0;
}

.Content-Item{
    width: 42%;
}

.Header-Container,.Content-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header-Container a{
    margin-left: 20px;
}

.Image-Item{
    align-items: center;
    background: grey;
    display: flex;
    justify-content: center;
    width: 50%;
}

.Info-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Info-item{
    width: 16%;
}

.Info-item div{
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 11vw;
    margin-bottom: 5px;
    width: 11vw;
}

.Info-item p{
    text-align: center;
}

#Quote-Section{
    background: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 7vw 21% 7vw 21%
}

#Quote-Section p{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

#Quote-Section h4{
    font-weight: bold;
    text-align: right;
}


#Random-Info-Section{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 17% 7vw 16%;
    width: 100%;
}

#Random-Info-Section h3{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 40px 0;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

button{
    background: none;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 20px;
}

button.CTA{
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
}

footer{
    background: #1f2937;
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}

h1.Main-Text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

h2.logo {
  color: #f9faf8;
  font-size: 24px;
}

p.Secondary-Text{
    color: #e5e7eb;
    font-size: 18px; 
}
